.__footercontainer {
    background: blueviolet;
    min-height: 20vh;
    color: white;
    font-size: 2rem;
}

.__footercontent {
    padding: 50px
}

.__copyright {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}