.__herocontainer {
    position: relative;
}

.__heroimg {
    min-height: 70vh;
    background:
        var(--herobg) no-repeat center center /cover;
}

.__herotitlecontainer {
    margin: 0 auto;
    width: 960px;
    background: rgb(255 255 255 / 1);
    color: white;
    translate: 0 -80px;
    padding: 0;
    box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, 0.5);
    border-radius: 7px;
}

.__herotitle {
    background: blueviolet;
    color: white;
    border-radius: 7px 7px 0 0;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem
}

.__herotitle h1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
}

.__herotitle button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: blueviolet;
    background: white;
}

.__herotitle button i {
    margin-left: 1rem
}

.__herosubtitle {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: white;
    color: #949494;
}