.__whycontainer {
    justify-content: center;
    align-items: center;
}

.__whytitle {
    font-size: 3rem;
    font-weight: 700;
    padding: 50px 0;
    text-align: center;
}

.__whytitle img {
    width: 100%;
}

.__whycontent {
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}


.__whycontent img {
    width: 100%;
    border-radius: 100px 15px;
    rotate: 3deg;
    box-shadow: 0 15px 15px -15px rgb(0 0 0 /.3);
}