.__lmscontainer {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    padding: 1rem;
    gap: 1rem
}

.__menucontainer {
    display: flex;
    flex-direction: column
}

.__menulink {
    border-radius: 2rem;
    text-decoration: none;
    color: #333;
    padding: 3px 0.5rem;
    transition: all 1s;
}

.__menulink:hover {
    border-radius: 2rem;
    background: #333;
    color: white;
    padding: 5px 1.5rem;
    transition: all 500ms;
}