.__logincontainer {
    position: absolute;
    top: -100px;
    right: -100px;
    padding: 1rem;
    background: rgb(0 0 0 / .3);
    backdrop-filter: blur(15px);
    border-radius: 5px;
    z-index: 1;
    opacity: 0;
    scale: 0;
    width: min(300px, 250px);
    transition: all 1s;
}

.__logincontainercollapse {
    scale: 0;
    opacity: 0;
    transition: all 1s;
}

.__logincontainerexpand {
    position: absolute;
    top: 70px;
    right: 2rem;
    padding: 1rem;
    background: rgb(0 0 0 / .3);
    backdrop-filter: blur(15px);
    border-radius: 5px;
    box-shadow: 0 5px 15px -5px rgb(0 0 0 /.5);
    z-index: 1;
    opacity: 1;
    width: min(300px, 250px);
    scale: 1;
    outline: solid 2px rgb(255 255 255 /.5);
    outline-offset: 3px;
    transition: all 1s;
}

.__loginform form {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px
}

.__loginbutton {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}