::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: rgba(126, 126, 126, 0.253);
    border-radius: 5px;
    transition: all 1s;
}

::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 5px;
    transition: all 1s;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(226, 226, 226);
    transition: all 1s;
}

::-webkit-scrollbar-track:hover {
    background: #5e5e5e;
    transition: all 1s;
}