.__row {
    display: flex;
    flex-direction: row;
}

.__column {
    display: flex;
    flex-direction: column;
}

.__main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: #1e1e1e;
}

.__ball {
    width: var(--ballsize);
    height: var(--ballsize);
    border-radius: 100%;
    background: var(--ballcolor);
    position: fixed;
    top: var(--bally);
    left: var(--ballx);
    transition: all 10s;
}

.__noisebg {
    background: var(--noisebg) no-repeat center center/cover;
    position: fixed;
    top: 0px;
    height: 100vh;
}